#whether the 0ms method call need to be recorded.
include0=true
#default exclude pattern
sysexclude=java,javax,com.sun,sun,org

include=com.spss,com.spss.test,com.spss.ca.agent.proxy
exclude=com.ibm,\
		com.test.instrument.Stats,\
		com.test.instrument,\
		com.spss.ae,\
		com.spss.ae.scheduler.impl.TaskSchedulerImpl,\
		com.spss.ae.web.servlet.RestFilter,\
		com.spss.ae.http.session.SessionManager,\
		com.spss.utilities\

#entryPointPattern is used for recognize the app entry point. If match the pattern, the class will be the tree root node, to be the method call root node.
entryPointPattern=com.spss.nextgen.rest.*.CAExecute
